[data]
features_dim=39
rf_dim=300
n_classes=39
classes_range=0-38
classes_explicit=NULL
;classes_explicit=0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38
rf_param=9

[files]
x_train=resources/timit/data_5_1.txt
y_train=resources/timit/labels_5_1.txt
x_test=resources/timit/test_data_5_1.txt
y_test=resources/timit/test_labels_5_1.txt


[param_tuning]
best_param=true
outer=1
inner=1
sig_start=8.2
learn_start=140
sig_jump=0.1
learn_jump=1


[final_params]
learning_rate=57.5
reg=0.00001
iterations=30
