[data]
features_dim=39
rf_dim=500
n_classes=39
rf_param=19

[files]
x_train=resources/timit/data_5_5.txt
y_train=resources/timit/labels_5_5.txt
x_test=resources/timit/data_5_5.txt
y_test=resources/timit/labels_5_5.txt


[param_tuning]
best_param=true
outer=100
inner=5


[final_params]
learning_rate=57.5
reg=0.00001
iterations=5
